header{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30vh;
}

.header_main a{
    font-family: Roboto, serif;
    font-size: 15px;
    color: white;
    transition: all 0.3s ease-in-out;
}
/* Общий стиль шапки */
.header_main {
    display: flex;
    justify-content: space-between; /* Логотип слева, меню справа */
    align-items: center; /* Вертикальное выравнивание */
    padding: 10px 20px; /* Отступы */
    position: relative;
    z-index: 1000;
    height: 70px;
}

/* Логотип */
.header_logo img {
    height: 50px;
}

/* Ссылки меню (для больших экранов) */
.menu-links {
    display: flex; /* Горизонтальное размещение */
    gap: 20px; /* Расстояние между пунктами */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.header_main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.header_main a{
    font-family: Roboto, serif;
    font-size: 15px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.header_main a:hover{
    color: #838080;
}

body{
    background-color: #D1B78A;
}

.name_city{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
}

.name_city h1{
    color: #FFFFFF;
    font-family: "Playfair Display";
    font-size: 40px;
    font-weight: bold;
}

.poloska{
    background-color: #D9D9D9;
    width: 350px;
    height: 10px;
    border-radius: 20px;
}

.main_exc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.cart_excurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 490px;
    background-color: #00000033;
    margin-bottom: 30px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 150px;
}

.cart_excurs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border-bottom-left-radius: 100px;
    padding-bottom: 40px;
}

.cart_excurs span{
    font-family: Roboto, serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.button_modal{
    margin-bottom: 12px;
    margin-top: 20px;
    width: 170px;
    height: 90px;
    background-color: #D1B78A;
    border: solid 1px #D1B78A;
    border-radius: 15px;
    font-family: Roboto, serif;
    transition: all 0.3s ease-in-out;
}

.button_modal:hover{
    background-color: rgba(209, 183, 138, 0.67);
    border: solid 1px #FFFFFF;
}


.main_content_4{
    width: 100%;
    height: 900px;
    background-color: #D1B78A;
}

.content_form{
    width: 80%;
    height: 740px;
    border: solid 2px transparent;
    border-radius: 100px;
    box-shadow: 0 0 10px 5px rgba(37, 27, 27, 0.09), inset 0 0 10px 2px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(28, 23, 23, 0.3);
}

.connection{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-left: 200px;
}

.connection h3{
    color: #FFFFFF;
    font-family: "Playfair Display";
    font-size: 27px;
    margin-bottom: 100px;
}

.connection span{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    margin-bottom: 40px;
}

.form-container {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  margin-left: 60px;
}

.form-group {
  position: relative;
  margin-bottom: 45px;
}

.form-container h2{
    color: #FFFFFF;
    font-family: "Playfair Display";
    font-size: 27px;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 4px solid white;
  background: transparent;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 20px 0;
}

.form-group label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 19px;
  font-family: Roboto, serif;
  color: white;
  pointer-events: none;
  transition: 0.3s ease all;
}

.form-group input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 12px;
  color: #aaa;
}

button {
  width: 80%;
  padding: 10px;
  margin-top: 30px;
  font-size: 16px;
  background-color: white;
  color: #D1B78A;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #ddd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}


input {
  background: transparent;
  color: white;
}
.logotip img{
    margin-right: 40px;
    margin-top: 27px;
}
