<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excursions</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'icon/logo.svg' %}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header_main col-12 container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{% static 'icon/logo.svg' %}" alt="Логотип" width="50px">
        </div>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="nav-link" href="#about">О Самарканде</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#travel">Экскурсии по городам</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
     </div>
    </div>
        <div class="main_1 d-flex justify-content-center align-items-center">
        <div class="content_1">
            <div class="cart" style="z-index: 1"><img src="{% static 'img/udostoverenie.svg' %}" alt="Удостоверение", width="287px"></div>
            <div class="text" style="z-index: 1">
                <div class="zagolovok">
                    <h1>Самарканд — Сердце Средней Азии</h1>
                </div>
                <div class="text_osnova">
                    <p>Меня зовут Сиявуш, и я помогу вам открыть уникальные красоты и тайны Узбекистана.
                        С глубоким знанием истории и культуры, я проведу вас по древним городам и современным достопримечательностям,
                        чтобы ваше путешествие стало незабываемым. Давайте отправимся в путь и создадим воспоминания,
                        которые останутся с вами навсегда!</p>
                </div>
                <div class="bid">
                    <a href="#">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</header>
<body style="background-color: #D1B78A; display: flex; flex-direction: column">
    <div class="main_content" id="about">
        <div class="card_1">
            <img src="{% static 'img/woman.jpg' %}" alt="" >
                <p>Эдем Востока, хранимый Аллахом, все эти эпитеты о Самарканде,
                столице великой империи Тамерлана ведь не зря
                Великий завоеватель обратил свой взор именно на Самарканд!
                Обилие мозаик, элементов резной поливной терракоты,
                майолики, монументальность построек не оставит Вас равнодушным!</p>
        </div>
        <div class="card_2">
            <p>Все, что я слышал о красоте Самарканда, все правда,
                за исключением того, что город оказался более красив,
                чем я мог представить "Не даром Александр Македонский восклицал эти слова"</p>
            <img src="{% static 'img/photo_21.svg' %}" alt="" >
        </div>
    </div>
    <div class="main_content_2" id="travel">
            <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Switzerland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Finland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Iceland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Australia</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Netherlands</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url({% static 'img/photo_2.svg' %});">
                <div class="content">
                    <div class="name">Ireland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    </div>
    <div class="main_content_4 d-flex justify-content-center align-items-center" id="contact">
        <div class="content_form">
            <div class="form_email d-flex flex-column justify-content-center align-items-center">
                <h1 style="color: white; font-family: Roboto, serif; font-size: 25px; margin-bottom: 150px">Связаться со мной</h1>
                <form action="" method="POST" class="d-flex flex-column" style="margin-right: 100px">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Имя" class="send_email">
                    <input type="number" name="text" placeholder="Телефон" class="send_text">
                    <input type="text" name="city" placeholder="Город" class="send_city">
                    <input type="submit" value="Отправить" class="send_all">
                </form>
            </div>
            <div class="connection d-flex flex-column">
                <h3 style="margin-bottom: 50px; color: white; font-family: Roboto, serif; font-size: 33px; margin-left: 40px">Контакты</h3>
                <span style="color: white; margin-left: 40px">Телефон:+998 90 997 01 98</span>
                <span style="color: white; margin-left: 40px">Email: chto-to@gmail.com</span>
                <div class="d-flex flex-row justify-content-around">
                    <img src="{% static 'img/instagram.svg' %}" alt="" width="40px">
                    <img src="{% static 'img/facebook.svg' %}" alt="" width="40px">
                    <img src="{% static 'img/telegram.svg' %}" alt="" width="40px">
                </div>
            </div>
        </div>
    </div>
</body>
<footer style="height: 70px; background-color: rgba(28,23,23,0.4)" class="d-flex justify-content-center align-items-center col-12 container-fluid">
    <span style="font-family: Roboto, serif">©2024. Все права защищены</span>
</footer>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>